<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
      {{ title or 'QPROPIEDADES' }} | Estudio QR
    </title>
    <meta name="description" content="{{ metaDescription }}">
    {% if canonicalUrl %}<link rel="canonical" href="{{ canonicalUrl }}">{% endif %}
    <meta property="og:title" content="{{ title or 'QPROPIEDADES' }}">
    <meta property="og:description" content="{{ metaDescription }}">
    {% if canonicalUrl %}<meta property="og:url" content="{{ canonicalUrl }}">{% endif %}
    <meta property="og:type" content="website">
    {% if metaImage %}<meta property="og:image" content="{{ metaImage }}">{% endif %}
    <link rel="stylesheet" href="/css/app.css">
    {% block styles %}{% endblock %}
    <script async src="https://estudioqr.com.uy/t.js" data-site="qpropiedades"></script>
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/js/app.js"></script>
  </body>
</html>