{% extends 'layouts/base.njk' %}{% block body %}<div class="center-card"><h1>Error</h1><p>No pudimos completar la operación.</p>{% if error %}<pre>{{ error }}</pre>{% endif %}<a href="/" class="btn btn-primary">Volver</a></div>{% endblock %}
